<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"> <!--PAra recorrer un arreglo sin ciclos -->

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host { //referencia a la parte de la pagina donde se va a colocar el elemento
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
      </div>
      <div class="container">
        <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Cargar datos</button>
        <button on-click="insertarclientes" class="btn btn-warning" type="button" name="button">Insertar datos</button>
      </div>
      <div class="row">
          <table class="table table-striped">
            <tbody>
              <template is="dom-repeat" items={{clientes}}>
                <tr>
                  <td>
                    [[item.CustomerID]]
                  </td>
                  <td>
                    [[item.ContactName]]
                  </td>
                  <td>
                    [[item.CompanyName]]
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          //value: 'demopolymer-app'
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText).value; //primero se parsea a formato json y luego se obtiene lo que esta en el campo value
        //console.log(this.clientes);
        console.table(this.clientes);
      }
      insertarclientes(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {
          "Customer-Id" : "12345",
          "ContactName" : "Amy",
          "CompanyName" : "ATT"
        };

        var body = JSON.stringify(nuevoCliente);

        request.send(body);

        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
